.neveradd
.vite
.vscode
node_modules
test_files
src/renderer/dist
out/
__build

coverage

src/*.js

src/common/**/*.js
src/preload/**/*.*js

src/main/**/*.js
src/main/**/*.mjs

src/main/config.backup.toml
src/main/algo/*

src/renderer/src/**/*.jsx
src/renderer/src/**/*.js