.neveradd
.vite
.vscode
node_modules
test_files
src/renderer/dist
out/
__build

coverage
reports

dist
dist-electron
release

algo_repo
electron/main/algo

assets/config.backup.toml
assets/salt**
common/selected-algo.d.ts
*.old.json

tmp.*
scratch