.neveradd
.vite
.vscode
node_modules
test_files
src/renderer/dist
out/
__build

coverage

dist
dist-electron
release

algo_repo
electron/main/algo

public/config.backup.toml
*.old.json
# NOTE: adding package-lock.json since there are issues relating to versioning when pulling
#       code directly from GitHub.
# TODO: port shared code to an actual npm registry and re-enable package-lock versioning.
package-lock.json