name: Build CommonID App
on:
  workflow_call:
    inputs:
      algorithm:
        required: true
        type: string
      algorithmId:
        required: true
        type: string
      saltFilePath:
        required: true
        type: string
      locale:
        required: false
        type: string

permissions:
  contents: read
  packages: read
  pull-requests: read
  checks: write

jobs:
  RunTestSuite:
    name: 1. Run Test Suite
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      
      - name: Install dependencies
        run: |
          npm install
          npm install -g tsx
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install and run tests
        run: tsx scripts/build.ts --algorithm-name ${{ inputs.algorithm }} --algorithm-id ${{ inputs.algorithmId }} --no-build --run-tests --ignore-errors
      
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/windows@v2
        if: always()
        with:
          check_name: Test Results ${{ inputs.algorithm }}
          files: ./coverage/test-report/test-report.xml

  BuildApplication:
    name: 2. Build Application
    needs:
     - RunTestSuite
    if: needs.RunTestSuite.result == 'success'
    runs-on: windows-latest
  
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: |
          npm install
          npm install -g tsx
        env:
          # TODO: remove this when packages are public
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: false

      - name: Clone salt file repository
        uses: actions/checkout@v4
        with:
          repository: wfp/common-identifier-application-keys
          token: ${{ secrets.PAT_READ_KEYS }}
          path: salt-repo
      
      - name: Fetch salt file
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path ./assets | Out-Null
          $src = 'salt-repo/${{ inputs.saltFilePath }}'
          Copy-Item -LiteralPath $src -Destination './assets/salt.asc' -Force

          echo $(git hash-object ./assets/salt.asc)

      - name: Build and package application
        run: tsx scripts/build.ts --algorithm-name ${{ inputs.algorithm }} --algorithm-id ${{ inputs.algorithmId }} --package
        continue-on-error: false
        env:
          VITE_LOCALE: ${{ inputs.locale }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      
      - name: Upload build artefacts
        uses: actions/upload-artifact@v4
        with:
          name: common-identifier-application-${{ inputs.algorithmId }}
          path: release/*/*-setup.exe
