name: Main Workflow
on:
  push:
    branches:
      - main
      - develop
      - feat/*
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    branches:
      - develop
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  pull-requests: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  AlgorithmMatrix:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    strategy:
      fail-fast: false
      matrix:
        algorithm: [ syria_north_west, syria ]
        include:
          - algorithm: syria_north_west
            algorithmId: nws
            saltFilePath: ${{ vars.SALT_NWS }}
          - algorithm: syria
            algorithmId: syr
            saltFilePath: ${{ vars.SALT_SYR }}
    uses: "./.github/workflows/build.yml"
    with:
      algorithm: ${{ matrix.algorithm }}
      algorithmId: ${{ matrix.algorithmId }}
      saltFilePath: ${{ matrix.saltFilePath }}
    secrets: inherit

