name: Main Workflow
on:
  push:
    branches:
      - main
      - develop
      - feat/*
      - fix/*
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    branches:
      - develop
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  pull-requests: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  RunTestSuite:
    name: 1. Run Test Suite
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      
      - name: Install dependencies
        run: npm install
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: npm run test:coverage
      
      - name: Report Coverage
        if: (!cancelled())
        uses: davelosert/vitest-coverage-report-action@v2
      
      - name: Publish JUnit Test Report
        if: (!cancelled()) && (success() || failure())
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: reports/junit.xml
          check_name: 'Vitest JUnit'

  AlgorithmMatrix:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    needs: RunTestSuite
    strategy:
      fail-fast: false
      matrix:
        algorithm: [ syria_north_west, syria ]
        include:
          - algorithm: syria_north_west
            algorithmId: nws
            saltFilePath: ${{ vars.SALT_NWS }}
          - algorithm: syria
            algorithmId: syr
            saltFilePath: ${{ vars.SALT_SYR }}
    uses: "./.github/workflows/build.yml"
    with:
      algorithm: ${{ matrix.algorithm }}
      algorithmId: ${{ matrix.algorithmId }}
      saltFilePath: ${{ matrix.saltFilePath }}
    secrets: inherit

